---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Mission from '../components/Mission.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Register from '../components/Register.astro';
import Faq from '../components/Faq.astro';
import Footer from '../components/Footer.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Mission />
    <HowItWorks />
    <Register />
    <Faq />
  </main>
  <Footer />
  <ScrollReveal />
</Layout>
